/*전체여백 제거, 박스크기 계산 방삭 통일*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*배경색, 글꼴, 글자색*/
body {
    background-color: #E8DCCB;
    font-family: Arial, sans-serif;
    color: #2B2B2B;
}

/*가운데 정렬 */
main {
    text-align:center;
    margin: 0 auto;
}

/*페이지 제목*/
h1 {
    margin-top: 40px;
    text-align: center;
    font-size:48px;
    color:#4A3F35;
    letter-spacing: 4px;
}

/*타이틀 라인*/
.title-line {
    width: 110px;
    height: 4px;
    background-color: #4A3F35;
    margin: 18px auto 40px;
}

/*드럼 메인 이미지*/
img {
  padding: 0px;
  text-align: center;
  width: 500px;
  transition:0.2s;
  margin-bottom: 6px;
}

/*이미지 호버 효과*/
img:hover{
  transform:scale(1.2);
}

/*소개 문구*/
main p {
  font-size:20px;
  margin-bottom:50px;
  line-height:35px;
}

/*메뉴 카드 영역*/
.menu {
  display:flex;
  justify-content:center;
  gap:40px;
  margin-bottom:80px;
}

/*메뉴 카드*/
.card {
  width:260px;
  height:150px;
  background: white;
  border:2px solid #4A3F35;
  border-radius:12px;
  text-decoration:none; /*파란색 밑줄 없애기*/
  color: #4A3F35;
  display:flex;
  flex-direction:column;
  justify-content:center; /* 내부요소 정렬*/
  align-items:center; /*자식요소 정렬*/
  transition:0.3s;
}

/* 메뉴 카드 호버 효과*/
.card:hover{
  transform:scale(1.1);
  background:#C95F28;
  color:#4A3F35;
}

/* 메뉴 카드 제목*/
.card h2{
  margin:0 auto;
  font-size:24px;
  line-height:25px;
}
